@import "lib/bourbon/bourbon";

$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon
$color-5: #854dba; 
$color-6: #9d9d9d; // White
$color-7: yellow; // Yellow
$S:     320px;   
$M:     768px;     
$L:     1170px;  

$header-height-S: 45px;
$header-height-M: 50px;

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;

$primary-font: 'Open Sans', sans-serif;

@mixin setdim($width ,$top , $left, $height : null , $right:null ,$bottom : null ) {
	width :$width;
	@if ($height) {
		height :$height;
	}
	top : $top;
	left : $left;
	@if($right){
		right : $right;
	}
	@if($bottom){
		bottom :$bottom;
	}	
}

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

@mixin setContentWidth($width){
    width :$width;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body {
    height: 96%;
    width : 100%;
    margin:0;
    padding:0;
    font: {
        family: $primary-font;
    }
    @include clearfix;
}

.popupWrapper{
    
    .popup {
        @include setdim(100%, 0px ,0px, 100%);
        display:none;
        position:fixed;
        background:rgba(0,0,0,0.75);
    }

    @include MQ(S) {

        .popup-inner {
            max-width:700px;
            @include setdim(70%, 50%,50%, 80%);
            overflow-y:scroll;
            padding:40px;
            position:absolute;
            -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
            box-shadow:0px 2px 6px rgba(0,0,0,1);
            border-radius:3px;
            background:#fff;
        }
    }

    @include MQ(M) {

        .popup-inner {
            max-width:700px;
            @include setdim(40%,55%,50%,auto); 
            overflow:visible;
            padding:20px;
            position:absolute; 
            -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
            box-shadow:0px 2px 6px rgba(0,0,0,1);
            border-radius:3px;
            background:#fff;
        }
    }
     
    .popup-close {
        @include setdim(30px, 0,null, 30px , 0px );
        padding-top:4px;
        display:inline-block;
        position:absolute;
        transition:ease 0.25s all;
        -webkit-transform:translate(50%, -50%);
        transform:translate(50%, -50%);
        border-radius:1000px;
        background:rgba(0,0,0,0.8);
        font-family:Arial, Sans-Serif;
        font-size:20px;
        text-align:center;
        line-height:100%;
        color:#fff;
    }
    @include MQ(S) {
        .popup-close {
            @include setdim(30px, null,null, 30px , 10px, 50%);
        }
    }
     
    .popup-close:hover {
        -webkit-transform:translate(50%, -50%) rotate(180deg);
        transform:translate(50%, -50%) rotate(180deg);
        background:rgba(0,0,0,1);
        text-decoration:none;
    }

}




.homePageContainer{
	width:100%;
    height:auto;
    margin-top : 50px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.profileContainer {

    .content-wrapper {
        padding: $header-height-S 5% 3em;

    }

    &::before {
        display: none;
        content: 'mobile';
    }

    @include MQ(M) {

        .content-wrapper {
            margin-left: $sidebar-width-M;
            padding-top: $header-height-M;

        }

        &::before {
            content: 'tablet';
        }
    }

    @include MQ(L) {

        .content-wrapper {
            margin-left: $sidebar-width-L;
        }

        &::before {
            content: 'desktop';
        }
    }
}

.cd-top-nav {

    > li a {
         padding: 1% 0 2%!important; 
         padding-left: calc(5% + 24px) !important;
    }

    @include MQ(M) { 

        a {
            display: block;
            color: $color-6;
            text-decoration: none;
        }

        > li {
            display: inline-block; 
            height: 100%;
            margin-right: 0;
            position: relative;
        }

        > li a {

              padding: 15px !important;
              line-height: 20px;
              text-decoration: none;
        }

    }

    @include MQ(L) {
        li:a:hover {
            color: $color-2;
        }
    }
}

.cd-side-nav {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding: $header-height-S 0 0;
    background-color: darken($color-5, 8%);
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    @include font-smoothing;

    &.nav-is-visible {
        opacity: 1;
        visibility: visible;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 2px 10px rgba(#000, .2);
    }
    
    > ul {
        padding: 0.6em 0;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    a {
        display: block;
        padding: 1em 5%;
        position: relative;
        color: $color-3;
        font-size: 120%;
    }

    a:focus{
        color:lightgreen; 
    }

    a:hover{
        color:#df6c00; 
    }

    .count {
        /* notification badge */
        position: absolute;
        @include center(y);
        right: calc(5% + 16px + 0.4em);

        padding: 0.2em 0.4em;
        background-color: $color-4;
        border-radius: .25em;

        color: $color-3;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }

    ul.cd-top-nav > li:last-of-type > a {
        border-bottom: none;
    }

    > ul > li > a {
        //padding: calc(1em + 24px) 0 2.4em;
        padding:1% 0 2%; 
        padding-left: calc(5% + 24px);
        border-bottom: 1px solid darken($color-1, 3%);
    }

    > ul > li > a> i {
            position: absolute;
            content: '';
            left: 5%;
            @include center(y);
            height: 16px;
            width: 16px;
    }

    @include MQ(M) {
        position: relative;
        float: left;
        top: auto;
        width: $sidebar-width-M;
        min-height: 100vh;
        padding-top: 30px;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        max-height: none;

        &.nav-is-visible {
            box-shadow: none;
        }

        &.is-fixed {
            position: fixed;
        }

        > ul {
            padding: 0;
        }   

        a {
            font-size: 100%;
            text-align: center;
        }

        > ul > li > a {
           // padding: calc(1.4em + 24px) 0 2.4em;
            padding: 30% 0 20%;
        }

         > ul > li > a> i {
                @include center(x);
                top: 0.9em;
        }
       

        .active > a {
            box-shadow: inset 3px 0 0 $color-7;
        }

        .count {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            box-shadow: 0 0 6px rgba(#000, .2);
            padding: 0;
            top: 0.5em;
            @include transform(translateX(-50%));
            left: calc(50% + 5px);
            right: auto;
            color: transparent;
        }
    }

    @include MQ(L) {
        width: $sidebar-width-L;

        > ul {
            padding: 0.6em 0;
        }

        > ul > li:hover > a {
            background-color: darken($color-1, 5%);
        }

        > ul > li > a {
            padding: 1em 1em 1em 42px;
            text-align: left;
            border-bottom: none;
            font-size: 120%;

            &::before {
                @include center(y);
                left: 18px;
            }
        }

         > ul > li > a> i {
                @include center(y);
                left: 18px;
        }

        .count {
            /* reset style */
            color: $color-3;
            height: auto;
            width: auto;
            border-radius: .25em;
            padding: .2em .4em;
            @include center(y);
            right: 18px;
            left: auto;
            box-shadow: none;
        }

    }
}
.cd-nav {
    display: none;

    /*margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */

    @include MQ(M) {
        display: block;
        float: right;
        height: 100%;
    }
}

.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 34px;
    height: 44px;
    margin-right: 5%;
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    span, span::before, span::after {
        /* hamburger icon in CSS */
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: $color-3;
    }

    span {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
        @include transition(background .2s);
    }

    span::before, span::after {
        content: '';
        right: 0;
        @include transform(translateZ(0));
        @include backface-visibility(hidden);
        
        @include transform-origin(0% 50%);
        @include transition(transform .2s);
    }

    span::before {
        top: -6px;
    }

    span::after {
        top: 6px;
    }

    &.nav-is-visible {
        span {
            background: rgba($color-3, 0);
        }

        span::before, span::after {
            background: rgba($color-3, 1);
        }

        span::before {
            @include transform(translateX(4px) translateY(-3px) rotate(45deg));
        }

        span::after {
            @include transform(translateX(4px) translateY(2px) rotate(-45deg));
        }
    }

    @include MQ(M) {
        display: none;
    }
}

.displayInfo{
  background-color:  #eee;
  margin-left: 10px;
  margin-right: 10px;
  padding:10px;
  border: 1px solid orange;
}

.cd-main-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    height: $header-height-S;
    width: 100%;

    background: $color-1;
    box-shadow: 0 1px 3px rgba(#000, .2);
    @include clearfix;
    @include font-smoothing;

    @include MQ(M) {
        position: fixed;
        height: $header-height-M;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

#aboutContent{
    width:60%;
    background: lightblue
}

#aboutContent::after{
    clear:none;
}

ul ,li,a,h1,div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
a {
    color: $color-2;
    text-decoration: none;
}

input {
    font-family: $primary-font;
    font-size: 1.6rem;
}

.my-row{
  height:100%;
}
.special {height:100vh; display:table;width:100%;}
.v-m {display:table-cell;vertical-align:middle}

.PersonalInfoWrapper{
    margin:1%;
}
$header-img: url('/images/apartment1.jpg');

#locationField{
    background-image:$header-img;
}
.locQues{
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    color:darkblue;
}
#profimage{
    width:150px;
    height:150px;
    border-radius: 100%;
    border: 1px solid black
}

.profileDesc {
  position: absolute;
  //top: 0px;
  bottom: 0;
  left: 25px;
 // right: 0;
  //background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  //border-radius: 100%; 
}

.profileWrapper{
    position: relative;
    width:150px;
    height:150px;
    border-radius: 100%;
}
#profileWrapper{
    overflow:hidden;
}


.profileWrapper:hover .profileDesc {
  visibility: visible;
  opacity: 1;
}

#mainContent{
        
        @include MQ(S) {
            #firstSection{
                position:absolute;
                top:40%;
                width:90%;
                left:5vw;
            }
        }
}

#uploadPosts{
position: relative;
  bottom:0;
  width:100%;
  display:none;
 transform: translateY(0);
  transition: transform .8s ease-in-out, opacity .8s ease-in-out; 
}

#uploadPosts.active{
    display: block;
    transform: translateY(20%);
    animation: animTranlate .5s ease-in-out;
}

@keyframes animTranlate {
  0% {
    display: none;
  }
  1% {
    display: block;
    transform: translateY(0);
  }
  100% {
    display: block;
    transform: translateY(20%);
  }
}
.viewMore{
    display:block;
    cursor:pointer;
}
.deletePost{
    cursor:pointer;
}
.profileNav{
    color: #9d9d9d;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.notification-content{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    overflow-y: auto;
    color:grey;
    font-family: 'Cardo', Helvetica, Arial, sans-serif;
}
.notificationPanelBody{
    position: relative;
    border-top: 0;
    background-color: #FFF;
    height: 100%;
}
.notificationListed{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    background: #efefef;
}
.notification-borderbottom{
    //    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 1px 5px 8px rgba(156, 39, 176,.2);
}
.user-info-container{
    -webkit-box-flex: 1;
    flex: 1;
    padding: 20px 10px;
}
.checkboxclass{
  width: 22px;
  height: 22px;
  float: left;
  cursor: pointer;
}
.checkboxholder{
  float: left;
  width: 22px;
}
.checkboxDescirption{
    padding-left: 10px;
    position: relative;
    float: left;
    cursor: pointer;
    padding-left: 8px;
    line-height: 22px;
    margin-bottom: 0;
}
.readNotif{
    display: flex;
    padding: 20px 20px 20px 10px;
    align-items: center;
    justify-content: center;
}
.notif-remove{
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40px;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    color: #777;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.addVerticalSeparator{
     border-right: 1px solid rgba(0,0,0,.2);
}
.mainHeader{
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.secondSub{
    color:#c5a3a3;
}
.innerContainer{
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
.reason-con{
    font-size: 2.5rem;

}
footer{
    z-index: 1000;
    position: relative;
    clear: both;
    text-align: center;
    height: 66px;
    overflow: hidden;
    line-height: 66px;
    background: #1b152a;
}
.innerfooterContainer ul li{
    height: 66px;
    line-height: 66px;
    padding-right: 20px;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-weight: 2rem;
    cursor: pointer;
}
.navbar-fixed-top{
    z-index:10001;
}
.innerfooterContainer ul li a{
  color: white;
}
ul.icons {
        cursor: default;
    }

ul.icons li {
            display: inline-block;
}

ul.icons a {
            display: inline-block;
            width: 2em;
            height: 2em;
            line-height: 2em;
            text-align: center;
            border: 0;
}
.icon {
        text-decoration: none;
    }

.icon:before {
            display: inline-block;
            font-family: FontAwesome;
            font-size: 1.25em;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
            display: none;
}
.setInputWidth{
    @include setContentWidth(70%);
}
.postWrapper{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include setContentWidth(70%);
    margin: 0 auto;
}
.postImageWrapper{
    display:inline-block;
    overflow:hidden;
    @include setdim(25%,0,0,100%);
    position:absolute;
    transition:ease 0.25s all; 
}
.mainPostImage{
    @include setdim(100%,null,null,100%);
    position: absolute;
}
.postInfoWrapper{
    display:inline-block;
    float:right;
    @include setdim(75%,null,null,100%);
}
.postProfileImage{
    display :inline-block;
    @include setdim(30%,null,30%,30%);
    position:absolute;
    border-radius : 100%;
}