@import "lib/bourbon/bourbon";
@mixin setdim($width ,$top , $left, $height : null , $right:null ,$bottom : null ) {
	width :$width;
	@if ($height) {
		height :$height;
	}
	top : $top;
	left : $left;
	@if($right){
		right : $right;
	}
	@if($bottom){
		bottom :$bottom;
	}	
}

html, 
body {
    height: 85%;
    width : 100%
}

.popup {
	@include setdim(100%, 0px ,0px, 100%);
    display:none;
    position:fixed;
    background:rgba(0,0,0,0.75);
}
 
.popup-inner {
    max-width:700px;
    @include setdim(50%, 50%,50%);
    padding:40px;
    position:absolute;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
	@include setdim(30px, null,null, 30px , 0px, 50%);
    padding-top:4px;
    display:inline-block;
    position:absolute;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
$header-img: url('/images/skyline2.jpg');

.homePageContainer{
	width:100%;
    height:100%;
    margin-top : 50px;
    background-size: cover;
    background-position: center;
    background-image: $header-img;
}