@import "lib/bourbon/bourbon";

$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon
$color-5: blueviolet; 
$color-6: #9d9d9d; // White
$color-7: yellow; // Yellow
$S:     480px;   
$M:     768px;     
$L:     1170px;  

$header-height-S: 45px;
$header-height-M: 50px;

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;

$primary-font: 'Open Sans', sans-serif;

@mixin setdim($width ,$top , $left, $height : null , $right:null ,$bottom : null ) {
	width :$width;
	@if ($height) {
		height :$height;
	}
	top : $top;
	left : $left;
	@if($right){
		right : $right;
	}
	@if($bottom){
		bottom :$bottom;
	}	
}

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body {
    height: 96%;
    width : 100%;
    margin:0;
    padding:0;
    font: {
        family: $primary-font;
    }
    @include clearfix;
}

.popupWrapper{
    
    .popup {
        @include setdim(100%, 0px ,0px, 100%);
        display:none;
        position:fixed;
        background:rgba(0,0,0,0.75);
    }

    @include MQ(S) {

        .popup-inner {
            max-width:700px;
            @include setdim(90%, 50%,50%, 80%);
            overflow-y:scroll;
            padding:40px;
            position:absolute;
            -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
            box-shadow:0px 2px 6px rgba(0,0,0,1);
            border-radius:3px;
            background:#fff;
        }
    }

    @include MQ(M) {

        .popup-inner {
            max-width:700px;
            @include setdim(40%,55%,50%,auto); 
            overflow:visible;
            padding:40px;
            position:absolute; 
            -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
            box-shadow:0px 2px 6px rgba(0,0,0,1);
            border-radius:3px;
            background:#fff;
        }
    }
     
    .popup-close {
        @include setdim(30px, null,null, 30px , 0px, 50%);
        padding-top:4px;
        display:inline-block;
        position:absolute;
        transition:ease 0.25s all;
        -webkit-transform:translate(50%, -50%);
        transform:translate(50%, -50%);
        border-radius:1000px;
        background:rgba(0,0,0,0.8);
        font-family:Arial, Sans-Serif;
        font-size:20px;
        text-align:center;
        line-height:100%;
        color:#fff;
    }
     
    .popup-close:hover {
        -webkit-transform:translate(50%, -50%) rotate(180deg);
        transform:translate(50%, -50%) rotate(180deg);
        background:rgba(0,0,0,1);
        text-decoration:none;
    }

}


$header-img: url('/images/skyline3.jpg');

.homePageContainer{
	width:100%;
    height:100%;
    margin-top : 50px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: $header-img;
}

.profileContainer {

    .content-wrapper {
        padding: $header-height-S 5% 3em;

    }

    &::before {
        display: none;
        content: 'mobile';
    }

    @include MQ(M) {

        .content-wrapper {
            margin-left: $sidebar-width-M;
            padding-top: $header-height-M;

        }

        &::before {
            content: 'tablet';
        }
    }

    @include MQ(L) {

        .content-wrapper {
            margin-left: $sidebar-width-L;
        }

        &::before {
            content: 'desktop';
        }
    }
}

.cd-top-nav {

    > li a {
         padding: 1% 0 2%!important; 
         padding-left: calc(5% + 24px) !important;
    }

    @include MQ(M) { 

        a {
            display: block;
            color: $color-6;
            text-decoration: none;
        }

        > li {
            display: inline-block; 
            height: 100%;
            margin-right: 0;
            position: relative;
        }

        > li a {

              padding: 15px !important;
              line-height: 20px;
              text-decoration: none;
        }

    }

    @include MQ(L) {
        li:a:hover {
            color: $color-2;
        }
    }
}

.cd-side-nav {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding: $header-height-S 0 0;
    background-color: darken($color-5, 8%);
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    @include font-smoothing;

    &.nav-is-visible {
        opacity: 1;
        visibility: visible;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 2px 10px rgba(#000, .2);
    }
    
    > ul {
        padding: 0.6em 0;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    a {
        display: block;
        padding: 1em 5%;
        position: relative;
        color: $color-3;
        font-size: 120%;
    }

    a:focus{
        color:lightgreen; 
    }

    a:hover{
        color:#df6c00; 
    }

    ul.cd-top-nav > li:last-of-type > a {
        border-bottom: none;
    }

    > ul > li > a {
        //padding: calc(1em + 24px) 0 2.4em;
        padding:1% 0 2%; 
        padding-left: calc(5% + 24px);
        border-bottom: 1px solid darken($color-1, 3%);
    }

    @include MQ(M) {
        position: relative;
        float: left;
        top: auto;
        width: $sidebar-width-M;
        min-height: 100vh;
        padding-top: $header-height-M;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        max-height: none;

        &.nav-is-visible {
            box-shadow: none;
        }

        &.is-fixed {
            position: fixed;
        }

        > ul {
            padding: 0;
        }   

        a {
            font-size: 120%;
            text-align: center;
        }

        > ul > li > a {
           // padding: calc(1.4em + 24px) 0 2.4em;
            padding: 20% 0 30%;
        }

        .active > a {
            box-shadow: inset 3px 0 0 $color-7;
        }
    }

    @include MQ(L) {
        width: $sidebar-width-L;

        > ul {
            padding: 0.6em 0;
        }

        > ul > li:hover > a {
            background-color: darken($color-1, 5%);
        }

        > ul > li > a {
            padding: 1em 1em 1em 42px;
            text-align: left;
            border-bottom: none;

            &::before {
                @include center(y);
                left: 18px;
            }
        }

    }
}
.cd-nav {
    display: none;

    /*margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */

    @include MQ(M) {
        display: block;
        float: right;
        height: 100%;
    }
}

.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 34px;
    height: 44px;
    margin-right: 5%;
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    span, span::before, span::after {
        /* hamburger icon in CSS */
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: $color-3;
    }

    span {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
        @include transition(background .2s);
    }

    span::before, span::after {
        content: '';
        right: 0;
        @include transform(translateZ(0));
        @include backface-visibility(hidden);
        
        @include transform-origin(0% 50%);
        @include transition(transform .2s);
    }

    span::before {
        top: -6px;
    }

    span::after {
        top: 6px;
    }

    &.nav-is-visible {
        span {
            background: rgba($color-3, 0);
        }

        span::before, span::after {
            background: rgba($color-3, 1);
        }

        span::before {
            @include transform(translateX(4px) translateY(-3px) rotate(45deg));
        }

        span::after {
            @include transform(translateX(4px) translateY(2px) rotate(-45deg));
        }
    }

    @include MQ(M) {
        display: none;
    }
}

.displayInfo{
  background-color:  #eee;
  margin-left: 10px;
  padding:10px;
  border: 1px solid red;
}

.cd-main-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    height: $header-height-S;
    width: 100%;

    background: $color-1;
    box-shadow: 0 1px 3px rgba(#000, .2);
    @include clearfix;
    @include font-smoothing;

    @include MQ(M) {
        position: fixed;
        height: $header-height-M;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

#aboutContent::after{
    clear:none;
}

ul ,li,a,h1,div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
a {
    color: $color-2;
    text-decoration: none;
}

input {
    font-family: $primary-font;
    font-size: 1.6rem;
}

.my-row{
  height:100%;
}
.special {height:100vh; display:table;width:100%;}
.v-m {display:table-cell;vertical-align:middle}

.PersonalInfoWrapper{
    margin:1%;
}