<!DOCTYPE html>
<html lang="en">
<head>
<title>Rommie Finder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/pageLayout.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script type="text/plain" src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>

<div class="popup" data-popup="popup-1" style ="z-index: 20">
    <div class="popup-inner">
      <div id = "loadHtml"></div>
      <br>
      <br>
        <a id="closepopUp" class="popup-close" data-popup1-close="popup-1" href="#">x</a>
    </div>
</div>

<body class="container">


<% include ../public/pageContent/navbar %>

        <div class="homePageContainer">
            <h2 class ="text-center center-block">Welcome to Rommie Finder</h2>
        </div>

</body>
<script>

$(document).ready(function(){

     $('#signup').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     $('#login_logout').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     var loggedIn = <%= loggedIn %> 
     console.log("loggedIn:",loggedIn);
     if(loggedIn){
        document.getElementById("profile").style.display="block";
        document.getElementById("login_logout").textContent ="Logout";
        document.getElementById("login_logout").href ="/logout";
        document.getElementById("signup").style.display="none";
     }else{
        document.getElementById("profile").style.display="none";
        document.getElementById("login_logout").textContent ="Login";
        document.getElementById("login_logout").href ="/login";
        document.getElementById("signup").style.display="block";
     }
     

});
</script>
</html>