<!DOCTYPE html>
<html lang="en">
<head>
<title>Rommie Finder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/pageLayout.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="popupWrapper">
<div class="popup" data-popup="popup-1" style ="z-index: 20">
    <div class="popup-inner">
      <div id = "loadHtml"></div>
      <br>
      <br>
        <a id="closepopUp" class="popup-close" data-popup1-close="popup-1" href="#">x</a>
    </div>
</div>
</div>

<body onload="initialize()">


<% include ../public/pageContent/navbar %>

        <div class="homePageContainer">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active left">
                  <img style="height:100vh;width:100vw" src="/images/skyline4.jpg">
                  </div>
                  <div class="item next left">
                    <img style="height:100vh;width:100vw" src="/images/skyline5.jpg">
                  </div>
                   <div class="item">
                    <img  style="height:100vh;width:100vw" src="/images/skyline6.jpg">
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

    <div id="mainContent">
        <div id="firstSection" style="position: absolute;top:50%; left:28%;height:40vh; ">
            <!-- <div class="my-row special">
            <div class="v-m"> -->
           <%if (!loggedIn) { %> 
            <div class="row">
                <h2 class ="text-center center-block" style="color: white">Find your best Mate here</h2>
            </div>
            <div class="row">
                <h3 class ="text-center center-block" style="color: white"> Your final stop to find your best roomate</h3>
            </div>    
            <div class="row">    
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
            <a id = "signup2" class=" text-center center-block btn btn-primary btn-lg" href="/signup" data-popup1-open="popup-1">Signup</a></div>
            </div>
            </div>
            <%}else{ %>
                <div id ="searchQuestion" class="center-block text-center">
                      <h2 class ="text-center center-block" style="color: Yellow">What do you want to do</h2>
                      <div class="row">
                      <button class="btn btn-primary btn-lg" id="rmate" onclick="handlebuttonClick(this)">I want a roommate/subletter</button>
                      </div>
                      <br>
                      <div class="row">
                      <button class="btn btn-primary btn-lg" id="aandrmate" onclick="handlebuttonClick(this)">I am looking for an apartment and a roommate</button>
                      </div> 
                      <br>   
                </div>
                </div>
                <div id="locationField" style="height:100vh;width:100%;display:none">
                  <div class="my-row special">
                    <div class="v-m">
                        <div id="findLoc" style="display:none;"> 
                            <h2 class="text-center locQues">Where do you want to live</h2>
                            <input class="form-control center-block input-lg" style="width:50%;"id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
                        </div>
                        <div id="neworViewPosts" class="center-block text-center" style="display:none">
                              <a href ="createPosts" style="margin:10px;background-color: red;color: white" class="btn btn-lg">Create New posts</a>
                              <a href ="#" style="margin:10px;background-color: red;color: white" class="btn btn-lg">View your Posts</a>  
                        </div>
                    </div>
                  </div>
                </div>
            <% } %> 
    </div> 
            
          
        </div>

</body>
<script>

$(document).ready(function(){

     $('#signup').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     $('#signup2').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     $('#login_logout').click(function (){
        if(this.textContent=="Logout") location.href= $(this).attr("href");
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

      $('#forgetId').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })


     var loggedIn = <%= loggedIn %> 
     if(loggedIn){
        document.getElementById("profile").style.display="block";
        document.getElementById("login_logout").textContent ="Logout";
        document.getElementById("login_logout").href ="/logout";
        document.getElementById("signup").style.display="none";
     }else{
        document.getElementById("profile").style.display="none";
        document.getElementById("login_logout").textContent ="Login";
        document.getElementById("login_logout").href ="/login";
        document.getElementById("signup").style.display="block";
     }
     

});

// $(function(){

// })

function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
}

function handlebuttonClick(el){
    document.getElementById("locationField").style.display="block";
    if(el.id=="aandrmate"){ 
        document.getElementById("findLoc").style.display="block";
        document.getElementById("neworViewPosts").style.display="none";
    }else{
        document.getElementById("neworViewPosts").style.display="block";
        document.getElementById("findLoc").style.display="none";
    }
     $('html,body').animate({
        scrollTop: $("#locationField").offset().top},
        'slow');
}

var autocomplete;
function initialize() {
        autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_T0L3QXJI0RusVVZ-44z7IWk1i4XKUOk&libraries=places"
        async defer></script>
</html>