<!DOCTYPE html>
<html lang="en">
<head>
<title>Rommie Finder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/pageLayout.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="popupWrapper">
<div class="popup" data-popup="popup-1" style ="z-index: 20">
    <div class="popup-inner">
      <div id = "loadHtml"></div>
      <br>
      <br>
        <a id="closepopUp" class="popup-close" data-popup1-close="popup-1" href="#">x</a>
    </div>
</div>
</div>

<body>


<% include ../public/pageContent/navbar %>

        <div class="homePageContainer">
            <div class="my-row special">
            <div class="v-m">
           <%if (!loggedIn) { %> 
            <div class="row">
                <h2 class ="text-center center-block" style="color: white">Find your best Mate here</h2>
            </div>
            <div class="row">
                <h3 class ="text-center center-block" style="color: white"> Your final stop to find your best roomate</h3>
            </div>    
            <div class="row">    
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
            <a id = "signup2" class=" text-center center-block btn btn-primary btn-lg" href="/signup" data-popup1-open="popup-1">Signup</a></div>
            </div>
            <%} %>
            </div>
            </div>
        </div>

</body>
<script>

$(document).ready(function(){

     $('#signup').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     $('#signup2').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

     $('#login_logout').click(function (){
        if(this.textContent=="Logout") location.href= $(this).attr("href");
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })

      $('#forgetId').click(function (){
        $("#loadHtml").empty();
         $("#loadHtml").load($(this).attr("href"));
         return false;
     })


     var loggedIn = <%= loggedIn %> 
     console.log("loggedIn:",loggedIn);
     if(loggedIn){
        document.getElementById("profile").style.display="block";
        document.getElementById("login_logout").textContent ="Logout";
        document.getElementById("login_logout").href ="/logout";
        document.getElementById("signup").style.display="none";
     }else{
        document.getElementById("profile").style.display="none";
        document.getElementById("login_logout").textContent ="Login";
        document.getElementById("login_logout").href ="/login";
        document.getElementById("signup").style.display="block";
     }
     

});
</script>
</html>