<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/pageLayout.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body onload="initialize()">
<div id = "newPostsContainer" style="height:100%">
<h2 class="text-center">What do you want to do</h2>
<div class="center-block text-center">
<button class="btn btn-primary" id="sublet" onclick="JavaScript:newPosts.handleButtonClick(this)">I have a room to sublet</button>
<button class="btn btn-primary" id="roommate" onclick="JavaScript:newPosts.handleButtonClick(this)">I am looking for a roommate</button>
</div>

	<div id="uploadPosts" class="text-center center-block"> 
	        <h2 class="text-center locQues" id="loc"></h2>
	        <input class="form-control center-block input-lg" style="width:50%;"id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"/>
	       <br>
	       	<div class="form-group">
		        <label  class="btn btn-default btn-file" for="FileUpload_1">Select Picture </label>
	            <input type="file" id ="FileUpload_1" accept="image/*" capture="camera" value="" onchange="JavaScript:newPosts.handleFileUploadChange(this)" style="display: none;">
	            <input class ="form-control center-block" type="text" style= "width:30%;display:inline" name="fileName_1" id="fileName_1">
	            <button class="btn btn-info" id="Upload_1" onclick ="JavaScript:newPosts.handleImageUpload(this)">Upload Image</button>
            </div>
            <br>
			<button class="btn btn-info center-block" id="uploadMore" onclick="JavaScript:newPosts.createFileUpload()" style="display:none">Upload More pictures</button>
			<br>
			<textarea  class="form-control center-block" style="font-family:sans-serif;width:70%; height:100%; overflow: hidden;" placeholder ="Describe your Apartment..." id ="apartmentDesc" name="apartmentDesc" onkeyup="JavaScript:newPosts.auto_grow(this)"></textarea>
			<br>
			<button class="btn btn-info center-block" id="postButton" onclick="JavaScript:newPosts.handlePostClick()">Post</button>
	</div>
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/plain" src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="js/handleposts.js"></script>
<script>
var autocomplete;
function initialize() {
        autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
}

function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_T0L3QXJI0RusVVZ-44z7IWk1i4XKUOk&libraries=places"
        async defer></script>
</html>