<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%=title%></title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<h2 class="text-center center-block">Notifications</h2>
<div class="notification-content">
<div id= "notificationPanel" class="notificationPanelBody">
<div id = "notificationBox" class="notificationContainer"> 
<% for(var i=0;i<notifications.length;i++) { %>
	<div id ="notificationId" class="notificationListed notification-borderbottom">
	<div class="chosenprodContainer">
	<div class="prodName">
	</div>
	</div>
<% }%>
</div>
</div>
</body>
