<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pageLayout.css">
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script type="text/plain" src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>
<style>
body{
	font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #3e454c;
    line-height: 1;
}
html{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
</style>
<body>
	<header class="cd-main-header">
		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>

	<div class="profileContainer">

		<nav class="cd-side-nav">
			<li class="cd-label">Main</li>
			<li class="overview active">
					<a href="#0">Overview</a>
			</li>
			<li class="about">
					<a href="#0">About</a>
			</li>
			<li class="posts">
					<a href="#0">Posts</a>
			</li>
			<li class="settings">
					<a href="#0">Settings</a>
			</li>
		</nav>
		<div class="content-wrapper">
			<h1>Page content here</h1>
		</div>
	</div>
	<script src ="https://cdn.jsdelivr.net/jquery.menu-aim/0.1/jquery.menu-aim.min.js"></script>
	<script src="js/handleUserProfile.js"></script>
</body>	