<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <div class ="form center-block ">
          <h2>Signup</h2>
          <form class="register-form" id="register_form" action='/signup' method='post'>
            <div class="form-group">
              <label for="firstName">FirstName:</label>
              <input class="form-control" id="firstName" placeholder="First Name" name ="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">LastName:</label>  
              <input  class="form-control" id="lastName" placeholder="Last Name" name ="lastName">
            </div>  
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Email Address" name ="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Password:</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword"><i id="passCorrect"style="display:none" class="fa fa-check-circle-o" aria-hidden="true"></i><i id="passInCorrect"style="display:none" class="fa fa-times" aria-hidden="true"></i>
              <div style="display: inline" id="divCheckPasswordMatch"></div>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
 </div>
 <script>
 $(document).ready(function() {
    $("#dob").datepicker();
    $("#confirmPassword").keyup(validatePassword);
  });

  function validatePassword() {
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();

    if(password == "")
        return false;

    if (password != confirmPassword){
        $('#passInCorrect').css("display","inline");
        $('#passCorrect').css("display","none");
        $("#divCheckPasswordMatch").html("Passwords do not match");
        return false;
    }
    else{
        $('#passCorrect').css("display","inline");
        $('#passInCorrect').css("display","none");
        $("#divCheckPasswordMatch").html("Passwords match.");
        return true;
    }
        
 }
 </script>
</html>        