html,
body {
  height: 96%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }
  html::after,
  body::after {
    clear: both;
    content: "";
    display: table; }

.popupWrapper .popup {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.75); }

@media only screen and (min-width: 320px) {
  .popupWrapper .popup-inner {
    max-width: 700px;
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    padding: 40px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff; } }

@media only screen and (min-width: 768px) {
  .popupWrapper .popup-inner {
    max-width: 700px;
    width: 40%;
    height: auto;
    top: 55%;
    left: 50%;
    overflow: visible;
    padding: 20px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff; } }

.popupWrapper .popup-close {
  width: 30px;
  height: 30px;
  top: 0;
  right: 0px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff; }

@media only screen and (min-width: 320px) {
  .popupWrapper .popup-close {
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 50%; } }

.popupWrapper .popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: black;
  text-decoration: none; }

.homePageContainer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.profileContainer .content-wrapper {
  padding: 45px 5% 3em; }

.profileContainer::before {
  display: none;
  content: 'mobile'; }

@media only screen and (min-width: 768px) {
  .profileContainer .content-wrapper {
    margin-left: 110px;
    padding-top: 50px; }
  .profileContainer::before {
    content: 'tablet'; } }

@media only screen and (min-width: 1170px) {
  .profileContainer .content-wrapper {
    margin-left: 200px; }
  .profileContainer::before {
    content: 'desktop'; } }

.cd-top-nav > li a {
  padding: 1% 0 2% !important;
  padding-left: calc(5% + 24px) !important; }

@media only screen and (min-width: 768px) {
  .cd-top-nav a {
    display: block;
    color: #9d9d9d;
    text-decoration: none; }
  .cd-top-nav > li {
    display: inline-block;
    height: 100%;
    margin-right: 0;
    position: relative; }
  .cd-top-nav > li a {
    padding: 15px !important;
    line-height: 20px;
    text-decoration: none; } }

@media only screen and (min-width: 1170px) {
  .cd-top-nav li:a:hover {
    color: #1784c7; } }

.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #703ea0;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .cd-side-nav > ul {
    padding: 0.6em 0; }
    .cd-side-nav > ul:last-of-type {
      padding-bottom: 0; }
  .cd-side-nav a {
    display: block;
    padding: 1em 5%;
    position: relative;
    color: #ffffff;
    font-size: 120%; }
  .cd-side-nav a:focus {
    color: lightgreen; }
  .cd-side-nav a:hover {
    color: #df6c00; }
  .cd-side-nav .count {
    /* notification badge */
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(5% + 16px + 0.4em);
    padding: 0.2em 0.4em;
    background-color: #ff7e66;
    border-radius: .25em;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    text-align: center; }
  .cd-side-nav ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none; }
  .cd-side-nav > ul > li > a {
    padding: 1% 0 2%;
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #373d44; }
  .cd-side-nav > ul > li > a > i {
    position: absolute;
    content: '';
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px; }
  @media only screen and (min-width: 768px) {
    .cd-side-nav {
      position: relative;
      float: left;
      top: auto;
      width: 110px;
      min-height: 100vh;
      padding-top: 30px;
      visibility: visible;
      opacity: 1;
      overflow: visible;
      max-height: none; }
      .cd-side-nav.nav-is-visible {
        box-shadow: none; }
      .cd-side-nav.is-fixed {
        position: fixed; }
      .cd-side-nav > ul {
        padding: 0; }
      .cd-side-nav a {
        font-size: 100%;
        text-align: center; }
      .cd-side-nav > ul > li > a {
        padding: 30% 0 20%; }
      .cd-side-nav > ul > li > a > i {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0.9em; }
      .cd-side-nav .active > a {
        box-shadow: inset 3px 0 0 yellow; }
      .cd-side-nav .count {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 0;
        top: 0.5em;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: calc(50% + 5px);
        right: auto;
        color: transparent; } }
  @media only screen and (min-width: 1170px) {
    .cd-side-nav {
      width: 200px; }
      .cd-side-nav > ul {
        padding: 0.6em 0; }
      .cd-side-nav > ul > li:hover > a {
        background-color: #33383e; }
      .cd-side-nav > ul > li > a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none;
        font-size: 120%; }
        .cd-side-nav > ul > li > a::before {
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 18px; }
      .cd-side-nav > ul > li > a > i {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 18px; }
      .cd-side-nav .count {
        /* reset style */
        color: #ffffff;
        height: auto;
        width: auto;
        border-radius: .25em;
        padding: .2em .4em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
        left: auto;
        box-shadow: none; } }

.cd-nav {
  display: none;
  /*margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */ }
  @media only screen and (min-width: 768px) {
    .cd-nav {
      display: block;
      float: right;
      height: 100%; } }

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff; }
  .cd-nav-trigger span {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    content: '';
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .cd-nav-trigger span::before {
    top: -6px; }
  .cd-nav-trigger span::after {
    top: 6px; }
  .cd-nav-trigger.nav-is-visible span {
    background: rgba(255, 255, 255, 0); }
  .cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    background: white; }
  .cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg); }
  .cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    .cd-nav-trigger {
      display: none; } }

.displayInfo {
  background-color: #eee;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid orange; }

.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 768px) {
    .cd-main-header {
      position: fixed;
      height: 50px; } }

*, *::after, *::before {
  box-sizing: border-box; }

#aboutContent {
  width: 60%;
  background: lightblue; }

#aboutContent::after {
  clear: none; }

ul, li, a, h1, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

a {
  color: #1784c7;
  text-decoration: none; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

.my-row {
  height: 100%; }

.special {
  height: 100vh;
  display: table;
  width: 100%; }

.v-m {
  display: table-cell;
  vertical-align: middle; }

.PersonalInfoWrapper {
  margin: 1%; }

#locationField {
  background-image: url("/images/apartment1.jpg"); }

.locQues {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  color: darkblue; }

#profimage {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid black; }

.profileDesc {
  position: absolute;
  bottom: 0;
  left: 25px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s; }

.profileWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%; }

#profileWrapper {
  overflow: hidden; }

.profileWrapper:hover .profileDesc {
  visibility: visible;
  opacity: 1; }

@media only screen and (min-width: 320px) {
  #mainContent #firstSection {
    position: absolute;
    top: 40%;
    width: 90%;
    left: 5vw; } }

#uploadPosts {
  position: relative;
  bottom: 0;
  width: 100%;
  display: none;
  transform: translateY(0);
  transition: transform .8s ease-in-out, opacity .8s ease-in-out; }

#uploadPosts.active {
  display: block;
  transform: translateY(20%);
  animation: animTranlate .5s ease-in-out; }

@keyframes animTranlate {
  0% {
    display: none; }
  1% {
    display: block;
    transform: translateY(0); }
  100% {
    display: block;
    transform: translateY(20%); } }

.viewMore {
  display: block;
  cursor: pointer; }

.deletePost {
  cursor: pointer; }

.profileNav {
  color: #9d9d9d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.notification-content {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  overflow-y: auto;
  color: grey;
  font-family: 'Cardo', Helvetica, Arial, sans-serif; }

.notificationPanelBody {
  position: relative;
  border-top: 0;
  background-color: #FFF;
  height: 100%; }

.notificationListed {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  width: 100%;
  background: #efefef; }

.notification-borderbottom {
  box-shadow: 1px 5px 8px rgba(156, 39, 176, 0.2); }

.user-info-container {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 20px 10px; }

.checkboxclass {
  width: 22px;
  height: 22px;
  float: left;
  cursor: pointer; }

.checkboxholder {
  float: left;
  width: 22px; }

.checkboxDescirption {
  padding-left: 10px;
  position: relative;
  float: left;
  cursor: pointer;
  padding-left: 8px;
  line-height: 22px;
  margin-bottom: 0; }

.readNotif {
  display: flex;
  padding: 20px 20px 20px 10px;
  align-items: center;
  justify-content: center; }

.notif-remove {
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  color: #777;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.addVerticalSeparator {
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.mainHeader {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif; }

.secondSub {
  color: #c5a3a3; }

.innerContainer {
  float: left;
  margin-bottom: 30px;
  width: 100%; }

.reason-con {
  font-size: 2.5rem; }

footer {
  z-index: 1000;
  position: relative;
  clear: both;
  text-align: center;
  height: 66px;
  overflow: hidden;
  line-height: 66px;
  background: #1b152a; }

.innerfooterContainer ul li {
  height: 66px;
  line-height: 66px;
  padding-right: 20px;
  display: inline-block;
  color: white;
  font-weight: 700;
  font-weight: 2rem;
  cursor: pointer; }

.navbar-fixed-top {
  z-index: 10001; }

.innerfooterContainer ul li a {
  color: white; }

ul.icons {
  cursor: default; }

ul.icons li {
  display: inline-block; }

ul.icons a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 0; }

.icon {
  text-decoration: none; }

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon > .label {
  display: none; }

.setInputWidth {
  width: 70%; }

.postWrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 70%;
  margin: 0 auto; }

.postImageWrapper {
  display: inline-block;
  overflow: hidden;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: ease 0.25s all; }

.mainPostImage {
  width: 100%;
  height: 100%;
  position: absolute; }

.postInfoWrapper {
  display: inline-block;
  float: right;
  width: 75%;
  height: 100%; }

.postProfileImage {
  display: inline-block;
  width: 30%;
  height: 30%;
  left: 30%;
  position: absolute;
  border-radius: 100%; }
