html,
body {
  height: 96%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }
  html::after,
  body::after {
    clear: both;
    content: "";
    display: table; }

.popupWrapper .popup {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.75); }

@media only screen and (min-width: 480px) {
  .popupWrapper .popup-inner {
    max-width: 700px;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    padding: 40px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff; } }

@media only screen and (min-width: 768px) {
  .popupWrapper .popup-inner {
    max-width: 700px;
    width: 40%;
    height: auto;
    top: 55%;
    left: 50%;
    overflow: visible;
    padding: 40px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px black;
    border-radius: 3px;
    background: #fff; } }

.popupWrapper .popup-close {
  width: 30px;
  height: 30px;
  right: 0px;
  bottom: 50%;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff; }

.popupWrapper .popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: black;
  text-decoration: none; }

.homePageContainer {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("/images/skyline3.jpg"); }

.profileContainer .content-wrapper {
  padding: 45px 5% 3em; }

.profileContainer::before {
  display: none;
  content: 'mobile'; }

@media only screen and (min-width: 768px) {
  .profileContainer .content-wrapper {
    margin-left: 110px;
    padding-top: 50px; }
  .profileContainer::before {
    content: 'tablet'; } }

@media only screen and (min-width: 1170px) {
  .profileContainer .content-wrapper {
    margin-left: 200px; }
  .profileContainer::before {
    content: 'desktop'; } }

.cd-top-nav > li a {
  padding: 1% 0 2% !important;
  padding-left: calc(5% + 24px) !important; }

@media only screen and (min-width: 768px) {
  .cd-top-nav a {
    display: block;
    color: #9d9d9d;
    text-decoration: none; }
  .cd-top-nav > li {
    display: inline-block;
    height: 100%;
    margin-right: 0;
    position: relative; }
  .cd-top-nav > li a {
    padding: 15px !important;
    line-height: 20px;
    text-decoration: none; } }

@media only screen and (min-width: 1170px) {
  .cd-top-nav li:a:hover {
    color: #1784c7; } }

.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #751bc9;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .cd-side-nav > ul {
    padding: 0.6em 0; }
    .cd-side-nav > ul:last-of-type {
      padding-bottom: 0; }
  .cd-side-nav a {
    display: block;
    padding: 1em 5%;
    position: relative;
    color: #ffffff;
    font-size: 120%; }
  .cd-side-nav a:focus {
    color: lightgreen; }
  .cd-side-nav a:hover {
    color: #df6c00; }
  .cd-side-nav ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none; }
  .cd-side-nav > ul > li > a {
    padding: 1% 0 2%;
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #373d44; }
  @media only screen and (min-width: 768px) {
    .cd-side-nav {
      position: relative;
      float: left;
      top: auto;
      width: 110px;
      min-height: 100vh;
      padding-top: 50px;
      visibility: visible;
      opacity: 1;
      overflow: visible;
      max-height: none; }
      .cd-side-nav.nav-is-visible {
        box-shadow: none; }
      .cd-side-nav.is-fixed {
        position: fixed; }
      .cd-side-nav > ul {
        padding: 0; }
      .cd-side-nav a {
        font-size: 120%;
        text-align: center; }
      .cd-side-nav > ul > li > a {
        padding: 20% 0 30%; }
      .cd-side-nav .active > a {
        box-shadow: inset 3px 0 0 yellow; } }
  @media only screen and (min-width: 1170px) {
    .cd-side-nav {
      width: 200px; }
      .cd-side-nav > ul {
        padding: 0.6em 0; }
      .cd-side-nav > ul > li:hover > a {
        background-color: #33383e; }
      .cd-side-nav > ul > li > a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none; }
        .cd-side-nav > ul > li > a::before {
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 18px; } }

.cd-nav {
  display: none;
  /*margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */ }
  @media only screen and (min-width: 768px) {
    .cd-nav {
      display: block;
      float: right;
      height: 100%; } }

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff; }
  .cd-nav-trigger span {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    content: '';
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .cd-nav-trigger span::before {
    top: -6px; }
  .cd-nav-trigger span::after {
    top: 6px; }
  .cd-nav-trigger.nav-is-visible span {
    background: rgba(255, 255, 255, 0); }
  .cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    background: white; }
  .cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg); }
  .cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    .cd-nav-trigger {
      display: none; } }

.displayInfo {
  background-color: #eee;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid red; }

.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 768px) {
    .cd-main-header {
      position: fixed;
      height: 50px; } }

*, *::after, *::before {
  box-sizing: border-box; }

#aboutContent::after {
  clear: none; }

ul, li, a, h1, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

a {
  color: #1784c7;
  text-decoration: none; }

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

.my-row {
  height: 100%; }

.special {
  height: 100vh;
  display: table;
  width: 100%; }

.v-m {
  display: table-cell;
  vertical-align: middle; }

.PersonalInfoWrapper {
  margin: 1%; }
