<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                RommieFinder
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="profile" href="/profile" style= "display: none">Profile</a></li>
                <li><a id="home" style ="Nunito,Helvetica Neue,Helvetica,Arial,sans-serif" data-popup1-open="popup-1" href ="/" style="display:none">Home</a></li>
                <li><a id="login_logout"  style ="Nunito,Helvetica Neue,Helvetica,Arial,sans-serif" data-popup1-open="popup-1" href ="/login">Login</a></li>
                <li><a id="signup" style ="Nunito,Helvetica Neue,Helvetica,Arial,sans-serif" data-popup1-open="popup-1" href ="/signup">Signup</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</nav>

<script>
$(function(){
    $('[data-popup1-open]').on('click', function(e)  {
        console.log("it comes inside");
            var targeted_popup_class = jQuery(this).attr('data-popup1-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
            e.preventDefault();
    });
    $('[data-popup1-close]').on('click', function(e)  {

            var targeted_popup_class = jQuery(this).attr('data-popup1-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
            
            e.preventDefault();
    });
})
</script>